
<div class="container">
    <div class="row">
        <!-- <div
            (dragover)="false"
            (dragend)="false"
            (drop)="handleDrop($event)">
            <canvas id="canvas" class="canvas" width="500" height="500">
            </canvas>
        </div> -->
            
            <canvas id="canvas" class="canvas" width="500" height="500">
            </canvas>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Select Gif Files</h3>
            <ng5-files-click (filesSelect)="filesSelect($event)">
                <span>Click me to upload</span>
            </ng5-files-click>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-12">
        <button type="button" class="btn btn-success btn-xs" (click)="uploader.uploadAll()">
            <span class="glyphicon glyphicon-upload"></span> Convert
        </button>
        <button type="button" class="btn btn-success btn-xs" (click)="view()">
            <span class="glyphicon glyphicon-upload"></span> View
        </button>
        <button type="button" class="btn btn-success btn-xs" (click)="download()">
        <span class="glyphicon glyphicon-upload"></span> Download
        </button>
        </div>
    </div>

</div>



<router-outlet></router-outlet>